@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@font-face {
    font-family: 'Tahoma', sans-serif;
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma Bold', sans-serif;
    src: url('../fonts/Tahoma-Bold.woff2') format('woff2'),
        url('../fonts/Tahoma-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {

    /* Colors: */
    --lightOrange: rgba(167, 119, 94, 0.04);
    --midGray: #707070;
    --white: #FFFFFF;
    --socialPurple: #6C63FF;
    --lightPurple: #DADAFF;
    --spePurple: #ACACFA;
    --titleBlue: #2727B5;
    --colorBlue: #0000A9;
    --lightGreen: #C4E3DF;
    --unnamed-color-a3d4cf: #A3D4CF;
    --unnamed-color-62bdb6: #62BDB6;
    --deepGreen: #22A9A1;
    --lighterPurple: #D9DBFA;
    --midPurple: #8E94FA;
    --unnamed-color-434cf5: #434CF5;
    --deepBlue: #0C0DF5;
    --footCyanMajor: #DAFFFA;
    --footBlueDark: #040434;
    --unnamed-color-a2faf3: #A2FAF3;
    --unnamed-color-88f7e9: #88F7E9;
    --deepCyan: #25F5E9;
    --unnamed-color-e5e5e5: #E5E5E5;
    --unnamed-color-919395: #919395;
    --deepGray: #444445;
    --bBlack: #000101;
    --beigeColor: #FFEBCD;
    --siteOrange: #FACD7E;
    --footOrange: #FAB630;
    --deepOrange: #F7A31A;

    /* fonts */
    --primaryFont: 'Sans Pro', sans-serif;
    --secondaryFont: 'Tahoma', sans-serif;
    --secondaryFontB: 'Tahoma Bold',
        sans-serif;
}

/* banner animation */
@keyframes breath {
    0% {
        background-size: 160% 100%;
    }

    100% {
        background-size: 100% 100%;
    }
}

.slider {
    animation: breath 7s linear infinite;
    background-image: url('../../static/imgs/slider.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 99vh;
}

.sidebar {
    min-width: 100px;
    padding-right: 35px;
    padding-left: 35px
}

.socialLinks li a {
    color: var(--socialPurple);
}

.socialLinks a:hover {
    color: var(--footOrange);
}

/* common inner pages heder */
.commonbgOuter {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)190px, var(--white)151px);
}

.commonMidBg {
    min-height: 450px;
    background: url('../../static/imgs/innermidbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: top center;
}

.commonSmallBg {
    min-height: 400px;
    background: url('../../static/imgs/innersmallbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: top center;
}

.commonSmallBg {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.commonHeader {
    padding-top: 120px;
    padding-bottom: 60px;
}

.commonHeader h2 {
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.commonHeader p {
    font-family: var(--primaryFont);
    font-size: 1.2rem;
    color: var(--deepGray)
}

/* team styles */
.teamName {
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--dBlack);
    letter-spacing: 0px;
    margin-bottom: 15px;
}

.teamLinkedin {
    color: var(--socialPurple);
    transition: all ease 0.6s;
}

.teamLinkedin:hover {
    color: var(--deepOrange);
}

.teamDes {
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--deepGreen);
}


@media only screen and (min-width: 1166px) {
    .mobileHam {
        display: none
    }

}

@media only screen and (max-width:991px) {
    /* .mobileMenu {
        margin-left: 50px;
        float: right
    } */
}

@media only screen and (min-width: 768px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 85%;
    }
}