@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: 'Tahoma', sans-serif;
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma Bold', sans-serif;
    src: url('../fonts/Tahoma-Bold.woff2') format('woff2'),
        url('../fonts/Tahoma-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {

    /* Colors: */
    --lightOrange: rgba(167, 119, 94, 0.04);
    --midGray: #707070;
    --white: #FFFFFF;
    --socialPurple: #6C63FF;
    --lightPurple: #DADAFF;
    --spePurple: #ACACFA;
    --titleBlue: #2727B5;
    --colorBlue: #0000A9;
    --lightGreen: #C4E3DF;
    --unnamed-color-a3d4cf: #A3D4CF;
    --unnamed-color-62bdb6: #62BDB6;
    --deepGreen: #22A9A1;
    --lighterPurple: #D9DBFA;
    --midPurple: #8E94FA;
    --midBlue: #434CF5;
    --deepBlue: #0C0DF5;
    --footCyanMajor: #DAFFFA;
    --footBlueDark: #040434;
    --stripecyan: #A2FAF3;
    --unnamed-color-88f7e9: #88F7E9;
    --deepCyan: #25F5E9;
    --lightGray: #E5E5E5;
    --lighterGray: #919395;
    --deepGray: #444445;
    --bBlack: #000101;
    --beigeColor: #FFEBCD;
    --siteOrange: #FACD7E;
    --footOrange: #FAB630;
    --deepOrange: #F7A31A;

    /* fonts */
    --primaryFont: 'Source Sans Pro',
        sans-serif;
    --secondaryFont: 'Tahoma', sans-serif;
    --secondaryFontB: 'Tahoma Bold',
        sans-serif;
}

/* banner animation */
@keyframes breath {
    0% {
        background-size: 160% 100%;
    }

    100% {
        background-size: 100% 100%;
    }
}

.slider {
    animation: breath 7s linear infinite;
    background-image: url('../../static/imgs/slider.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 99vh;
}

.sidebar {
    min-width: 100px;
    padding-right: 35px;
    padding-left: 35px
}

.socialLinks li a {
    color: var(--socialPurple);
}

.socialLinks a:hover {
    color: var(--footOrange);
}

/* common inner pages heder */
.commonbgOuter {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)190px, var(--white)151px);
}

.commonMidBg {
    min-height: 450px;
    background: url('../../static/imgs/innermidbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: top center;
}

.commonSmallBg {
    min-height: 300px;
    background: url('../../static/imgs/innersmallbg.svg');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: top center;
}

/* .commonSmallBg {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.commonHeader {
    padding-top: 120px;
    padding-bottom: 60px;
}

.commonHeader h2 {
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.commonHeader p {
    font-family: var(--primaryFont);
    font-size: 1.2rem;
    color: var(--deepGray);
    margin-bottom: 20px;
}

.conContSpe h2 {
    color: var(--titleBlue);
}

/* team styles */
.teamName {
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--dBlack);
    letter-spacing: 0px;
    margin-bottom: 15px;
}

.teamLinkedin {
    color: var(--socialPurple);
    transition: all ease 0.6s;
}

.teamLinkedin:hover {
    color: var(--deepOrange);
}

.teamDes {
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--deepGreen);
}

/* programs */
.programCont {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 700px;
}

.programSCont {
    padding-bottom: 50px;
    min-height: 900px;
}

.programBCont {
    padding-bottom: 50px;
    min-height: 1050px;
}

.stripeTop {
    position: relative;
}

.stripeTop:before {
    content: "";
    top: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--deepOrange);
}

.stripeTop:after {
    content: "";
    top: -15px;
    left: 15px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid var(--deepGreen);
}

.consultancyStripe {
    height: 10px;
    width: 100%;
    background: -webkit-gradient(linear, to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: -webkit-linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: -moz-linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
}

.programStripe {
    margin-top: 30px;
    margin-left: 12px;
    min-height: 100%;
    width: 4px;
    background: -webkit-gradient(linear, to bottom, var(--lighterPurple) 33%, var(--siteOrange) 33% 66%, var(--stripecyan) 66% 100%);
    background: -webkit-linear-gradient(to bottom, var(--lighterPurple) 33%, var(--siteOrange) 33% 66%, var(--stripecyan) 66% 100%);
    background: -moz-linear-gradient(to bottom, var(--lighterPurple) 33%, var(--siteOrange) 33% 66%, var(--stripecyan) 66% 100%);
    background: linear-gradient(to bottom, var(--lighterPurple) 33%, var(--siteOrange) 33% 66%, var(--stripecyan) 66% 100%);
}

.programsWWW {
    margin-top: 40px;
    min-height: 200px;
}

.programsWWW h3 {
    font-size: 2rem;
    font-family: var(--primaryFont);
    font-weight: 900;
    color: var(--bBlack);
    margin-bottom: 10px;
}

.programsWWW p {
    font-size: 1.1rem;
    font-family: var(--primaryFont);
    color: var(--midGray);
    text-align: justify;
}

.programsWWW ul {
    margin-left: 20px;
}

.programsWWW ul li {
    font-size: 1.1rem;
    font-family: var(--primaryFont);
    color: var(--midGray);
    list-style: numeric;
    margin-bottom: 15px;
}

.programsPartners li {
    max-width: 150px;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #C5E3DF;
    border-radius: 18px;
}

.customIndicators {
    width: 100px;
    min-height: 100vh;
    position: absolute;
    right: 0;
}

.bannerImage {
    position: relative;
    z-index: 10;
}

.bannerImage img {
    position: relative;
    z-index: 10;
    top: 0px;
}

.bannerImage:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    right: -70px;
    top: -100px;
    border-radius: 50%;
    background-color: var(--beigeColor);
    z-index: 1;
}

.applybtn {
    margin-top: 20px;
    display: block;
    border-radius: 6px;
    background-color: var(--deepOrange);
    width: 100px;
    padding: 8px 20px;
    text-align: center;
    color: var(--white);
    font: normal normal 600 1rem var(--primaryFont);
}

.applybtn:hover {
    background-color: var(--deepGreen);
    color: var(--white)
}

.applybtnS {
    margin-top: 20px;
    display: block;
    margin: 10% auto;
    border-radius: 6px;
    background-color: var(--deepOrange);
    max-width: 300px;
    padding: 8px 20px;
    text-align: center;
    color: var(--white);
    font: normal normal 600 1rem var(--primaryFont);
}

.applybtnS:hover {
    background-color: var(--deepGreen);
    color: var(--white)
}

.progmore {
    text-decoration: underline;
    font: normal normal 600 1rem var(--primaryFont);
    color: var(--midBlue);
}

.progmore:hover {
    color: var(--deepGreen)
}

/* privacy policy */
.privacyOuter {
    margin-top: 100px;
}

.privacy {
    max-width: 800px;
    margin: auto;
}

.privacy h1 {
    font: normal normal bold 2.5rem var(--primaryFont);
    color: var(--bBlack);
    margin-bottom: 30px;
    text-align: center;
}

.privacy P {
    font: normal normal normal 1.1rem var(--primaryFont);
    color: var(--deepGray);
    margin-bottom: 20px;

}

.privacy h4 {
    font: normal normal bold 1.8rem var(--primaryFont);
    color: var(--bBlack);
    margin-bottom: 20px;
}

.privacy ol li {
    list-style: numeric;
    font: normal normal bold 1.8rem var(--primaryFont);
    color: var(--bBlack);
    margin-bottom: 20px;
    margin-left: 30px;
}

.privacy ul li {
    list-style: disc;
    font: normal normal normal 1.1rem var(--primaryFont);
    color: var(--deepGray);
    margin-bottom: 10px;
    margin-left: 30px;
}

.privacy ol p {
    font: normal normal normal 1.1rem var(--primaryFont);
    color: var(--deepGray);
    margin-bottom: 20px;
}

@media only screen and (min-width:1679px) {
    .commonMidBg {
        background-size: contain;
    }

    .commonSmallBg {
        background-size: contain;
    }
}

@media only screen and (min-width: 1166px) {
    .mobileHam {
        display: none
    }

}

@media only screen and (max-width:991px) {
    /* .mobileMenu {
        margin-left: 50px;
        float: right
    } */
}



@media only screen and (min-width: 768px) {
    .careerImg {
        max-width: 450px;
        float: right;
        top: 100px;
    }

    .topsvg img {
        max-width: 390px;
        float: right;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 85%;
    }

    .programsWWW ul {
        max-width: 95%;
    }

    .programsWWW p {
        max-width: 90%;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {

    .programCont {
        min-height: 900px;
    }

    .programSCont {
        padding-bottom: 50px;
        min-height: 1100px;
    }

    .programBCont {
        padding-bottom: 50px;
        min-height: 1250px;
    }
}

@media only screen and (min-width:900px) and (max-width:991px) {
    .programCont {
        min-height: 1000px;
    }

    .programSCont {
        padding-bottom: 50px;
        min-height: 1200px;
    }

    .programBCont {
        padding-bottom: 50px;
        min-height: 1350px;
    }
}

@media only screen and (min-width:831px) and (max-width:899px) {
    .programCont {
        min-height: 1050px;
    }

    .programSCont {
        padding-bottom: 50px;
        min-height: 1250px;
    }

    .programBCont {
        padding-bottom: 50px;
        min-height: 1400px;
    }
}

@media only screen and (min-width:768px) and (max-width:830px) {

    .programCont {
        min-height: 1150px;
    }

    .programSCont {
        padding-bottom: 50px;
        min-height: 1250px;
    }

    .programBCont {
        padding-bottom: 50px;
        min-height: 1400px;
    }
}

@media only screen and (max-width: 767px) {
    .commonMidBg {
        background-size: 100% 450px;
        background-position: top center;
    }

    .commonSmallBg {
        background-size: 100% 350px;
        background-position: top center;
    }
}