.topPage {
    width: 100%;
    background-image: url('../../../static/imgs/whoweare.svg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -2;
    padding-bottom: 150px;
}

.banInn {
    min-height: 500px;
}

h2 {
    text-align: left;
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.banInn h2 {
    color: var(--deepBlue);
}

.banInn p {
    text-align: left;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    letter-spacing: 0px;
    color: var(--deepGray);
    margin-bottom: 15px;
}

.banRightOut {
    position: relative;
}

.banRightOut:before {
    background-color: var(--beigeColor);
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 50%;
}

.banRight {
    position: relative;
    z-index: 2;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
    z-index: 20;
    border-radius: 27px;
}

.misvis {
    min-height: 250px;
    padding-bottom: 50px;
}

.misvisCont {
    top: -150px;
}

.misvisInn {
    min-height: 300px;
    padding: 35px;
    border-radius: 6px;
}

.misvisInn>div {
    display: flex;
}

.misvisL:first-child {
    background-color: var(--lighterPurple)
}

.misvisR:last-child {
    background-color: var(--beigeColor)
}

.misvisL h2 {
    color: var(--titleBlue);
}

.misvisR h2 {
    color: var(--deepOrange);
}

.misvisInn h6 {
    max-width: 450px;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 2.7rem;
    font-size: 1.5rem;
}

/* core styles */
.coreHeading h1 {
    color: var(--titleBlue);
    font-family: var(--secondaryFont);
    font-size: 3rem;
    font-weight: Bold;
    margin-bottom: 100px;
}

.coreOuter {
    padding-top: 50px;
    padding-bottom: 50px;
}

.coreValue h5 {
    min-height: 50px;
    margin-bottom: 20px;
    color: var(--colorBlue);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
}

.coreValue p {
    font-weight: 300;
    font-family: var(--primaryFont);
    font-size: 1rem;
    color: var(--deepGray)
}

/* ops section */
.opsOuter {
    background: rgba(167, 119, 94, 0.04);
    padding-top: 100px;
    padding-bottom: 100px;
}

.opsTitle {
    border-bottom: 4px solid var(--deepGreen);
    padding-bottom: 40px;
}

.opsTitle h3 {
    color: var(--deepGreen);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.5rem;

}

.opOuter {
    position: relative;
}

.opOuter div {
    max-width: 200px;
    min-height: 150px;
    border-radius: 11px;
    padding: 60px 15px 30px;
}

.iconsOp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--deepGreen);
    position: absolute;
    left: 40%;
}

.opOuter:nth-child(odd) .iconsOp {
    background-color: var(--deepGreen);
}

.opOuter:nth-child(even) .iconsOp {
    background-color: var(--footCyanMajor);
}

.opOuter:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    z-index: 20;
}

.opOuter:nth-child(odd)::before {
    left: 33%;
    border-top: 12px solid transparent;
    border-right: 24px solid var(--deepOrange);
    border-bottom: 12px solid transparent;
}

.opOuter:nth-child(even)::before {
    left: 48%;
    border-top: 12px solid transparent;
    border-left: 24px solid var(--midPurple);
    border-bottom: 12px solid transparent;
}

.opOuter:nth-child(odd) div {
    background-color: var(--lighterPurple)
}

.opOuter:nth-child(even) div {
    background-color: var(--beigeColor)
}

.opOuter h4 {
    height: 60px;
    max-width: 120px;
    color: var(--deepGreen);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
}

.underOps {
    min-height: unset !important;
    height: 4px !important;
    width: 80px !important;
    padding: 0 !important;
    background-color: var(--deepGreen) !important;
}

/* History page styles */
.historyBanOut {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)40%, var(--white)40%);
}

.historyBan {
    min-height: 800px;
    background-image: url('../../../static/imgs/histbg.svg');
    background-size: 100% 70%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    padding-top: 130px;
}

.historyBan h2 {
    color: var(--titleBlue);
}

.historyBan h4 {
    position: relative;
    font: normal normal 900 24px Source Sans Pro;
    color: var(--deepGreen);
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.historyBan h4:before {
    left: 0px;
    top: 5px;
    content: " ";
    position: absolute;
    border-top: 9px solid transparent;
    border-right: 18px solid var(--deepOrange);
    border-bottom: 9px solid transparent;
}

.historyBan P {
    font-weight: normal;
    font-family: var(--primaryFont);
    font-size: 0.9rem;
    color: var(--deepGray);
    margin-bottom: 15px;
}

.histImg {
    position: relative;
    z-index: 10;
}

.histImg img {
    position: absolute;
    z-index: 10;
}

.histImg:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    right: 30px;
    top: -20px;
    border-radius: 50%;
    background-color: var(--beigeColor);
    z-index: 1;
}

.founderCont {
    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--lightOrange)
}

.founderCont h2 {
    color: var(--deepOrange);
    text-align: center;
}

.founder>div {
    min-height: 300px;
}

.founder>.founderInn {
    position: relative;
    text-align: center
}

.founder div>p {
    max-width: 300px;
    letter-spacing: 0px;
    font-family: var(--primaryFont);
    font-size: 0.9rem;
    color: var(--deepGray);
    margin-right: 20px;
}

.founder h6 {
    color: var(--lightPurple);
    font-weight: bold;
}

.founder img {
    margin-left: 5%;
    position: absolute;
    object-fit: contain !important;
    z-index: 50;
}

.founder>.founderInn:before {
    content: " ";
    top: 0;
    width: 60%;
    margin-left: 18%;
    margin-right: 20%;
    height: 400px;
    background-color: var(--deepCyan);
    opacity: 0.34;
    position: absolute;
    border-radius: 6px;
    z-index: 1;
}

.founder>.founderInn:after {
    content: " ";
    width: 75%;
    top: 20px;
    margin-left: -34%;
    height: 350px;
    background-color: var(--footCyanMajor);
    position: absolute;
    border-radius: 6px;
    z-index: 2;
}

.founderCapt {
    position: relative;
    z-index: 30;
    padding: 15px;
    max-width: 200px;
    text-align: left;
    margin-left: 20%;
}

.founderCapt h1 {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--deepGreen);
    margin-top: 8px;
}

.founderCapt h5 {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--bBlack);
}

/* team styles */
.teamTop h2 {
    text-align: center;
    color: var(--titleBlue);
}

.teamTopPar {
    max-width: 700px;
    margin: auto;
}

.contributors h2 {
    text-align: center;
    color: var(--deepOrange);
}

.contributorsOut {
    background: #FBF9F8;
    padding-bottom: 100px;
}

/* students */
.studentBtm {
    background: rgba(167, 119, 94, 0.04)
}

.studentBtm section {
    max-width: 900px;
    margin: auto;
}

.studentBtm h4 {
    font-family: var(--primaryFont);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--titleBlue);
    margin-bottom: 15px;
}

.studentBtm P {
    font-size: var(--primaryFont);
    font-size: 1.1rem;
    font-weight: normal;
    color: var(--deepGray);
}

/* alumni  */
.alumniMid h3 {
    text-align: center;
    font-weight: var(--primaryFont);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--deepGreen);
    margin-bottom: 50px;
}

.alumniMidInn>div {
    min-height: 280px;
    border-radius: 11px;
    padding: 25px 0px 0px;
}

.alumniMidInn>div h5 {
    padding: 0px 25px;
}

.alumniMidInn>div:first-child {
    background-color: var(--colorBlue);
    color: var(--footCyanMajor)
}

.alumniMidInn>div:nth-child(2) {
    background-color: var(--deepOrange);
    color: var(--bBlack);
}

.alumniMidInn>div:nth-child(3) {
    background-color: var(--deepGreen);
    color: var(--footCyanMajor)
}

.alumniMidInn>div:last-child {
    background-color: var(--deepBlue);
    color: var(--lighterPurple);
}

.alumni {
    padding: 15px;
    position: relative;
    min-height: 250px;
}

.bottomLine {
    width: 100px;
    background-color: var(--bBlack);
    height: 5px;
    margin: 0 auto;
}

.alumniMidInn>div:nth-child(odd) .alumniITop {
    height: 35px;
    width: 35px;
    background-color: var(--footCyanMajor);
    border-radius: 50%;
    margin: 20px auto;
}

.alumniMidInn>div:nth-child(odd) .bottomLine {
    background-color: var(--footCyanMajor);
}

.alumniMidInn>div:nth-child(even) .alumniITop {
    height: 0px;
    width: 0px;
    border-top: 17px solid transparent;
    border-right: 30px solid var(--deepGreen);
    border-bottom: 17px solid transparent;
    margin: 20px auto;
}

.alumniMidInn>div:last-child .alumniITop {
    height: 0px;
    width: 0px;
    border-top: 17px solid transparent;
    border-right: 0px;
    border-left: 30px solid var(--deepOrange);
    border-bottom: 17px solid transparent;
    margin: 20px auto;
}

.alumniMidInn>div:last-child .bottomLine {
    background-color: var(--lightPurple);
}

.alumni h5 {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0px;
    font-weight: bold;
    min-height: 130px;
    font-family: var(--primaryFont);
}

/* careers */
.careersBtm {
    padding-top: 150px;
}

.careerBanOut {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)20%, var(--white)20%);
}

.careerBan {
    min-height: 250px;
    background-image: url('../../../static/imgs/innersmallbg.svg');
    background-size: 100% 40%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 130px;
}

.careersBtm h2 {
    color: var(--deepOrange);
    text-align: center;
    margin-bottom: 0px;
}

.careersBtm ul {
    margin-bottom: 25px;
}

.careersBtm ul li {
    color: var(--midBlue);
}

.careersFoot p {
    max-width: 500px;
    margin: 30px auto;
    font-style: italic;
}

.carImg:before {
    right: -40px;
}

.careersInn>div {
    max-width: 1000px;
    margin: 50px auto;
}

.career {
    min-height: 170px;
    border-radius: 11px;
    padding: 30px 15px;
    background-color: var(--footCyanMajor);
    display: grid;
    grid-template-columns: 70px auto;
}

.careerIcons {
    position: relative;

}

.careersInn>div>.career>.careerIcons:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--stripecyan);
}

.careersInn>div>.career>.careerIcons:after {
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    top: -10px;
    right: 35px;
    border-top: 12px solid transparent;
    border-left: 20px solid var(--midPurple);
    border-bottom: 12px solid transparent;
}

.careersInn>div>.career:nth-child(even)>.careerIcons:before {
    background-color: var(--lighterGray);
}

.careersInn>div>.career:nth-child(even)>.careerIcons:after {
    border-left: 20px solid var(--siteOrange);
}

.career h5 {
    color: var(--deepGray);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.5rem;
}

.career p {
    color: var(--lighterGray);
    font-family: var(--primaryFont);
    font-weight: normal;
    font-size: 1rem;
    margin-top: 4px;
}

.career h6 {
    color: var(--deepGreen);
    font-family: var(--primaryFont);
    font-weight: normal;
    font-size: 1rem;
    margin-top: 4px;
    position: relative;
}

.career h6:after {
    content: " ";
    width: 80px;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: var(--stripecyan)
}

/* volunteer */
.volunteerBanOut {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)50%, var(--white)50%);
}

.volunterBan {
    min-height: 400px;
    background-image: url('../../../static/imgs/innersmallbg.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 130px;
}

.volunterBan h2 {
    position: relative;
    z-index: 3;
    font-weight: 900;
    color: var(--colorBlue);
}

.volunterBan h2:before {
    position: absolute;
    content: "\201C";
    font-size: 10rem;
    z-index: -1;
    top: -50px;
    width: 102px;
    height: 84px;
    color: var(--beigeColor);
}

.volunterBan h2 cite {
    margin-top: 50px;
    color: var(--deepOrange);
    font-size: 1.8rem;
    font-style: normal;
}

.volunteerMid p {
    max-width: 650px !important;
    margin: 30px auto;
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    color: var(--midGray);
}

.volBtm {
    padding-top: 50px;
    padding-bottom: 100px;
}

.volBtm h2 {
    text-align: left;
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
    color: var(--colorBlue);
}

.volBtm p {
    margin: 30px auto;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    color: var(--midGray);
}

.volImg {
    position: relative;
    z-index: 10;
}

.volImg img {
    position: relative;
    top: 0;
    z-index: 10;
}

.volImg:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    left: 70px;
    bottom: -20px;
    border-radius: 50%;
    background-color: var(--beigeColor);
    z-index: 1;
}

/* partners styles */
.partnerOp {
    background: rgba(167, 119, 94, 0.04);
    padding-top: 50px;
    padding-bottom: 50px;
}

.partnersTopSect {
    padding-top: 50px;
    padding-bottom: 50px;
}

.partnersTopSect h2 {
    text-align: center;
    color: var(--deepOrange);
    font-size: 3rem;
    font-weight: Bold;
    font-family: var(--primaryFont);
}

.partnersTopSect h3 {
    text-align: center;
    font-weight: var(--primaryFont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--deepGreen);
    margin: 0px auto 50px;
}

.partnersTopList ul {
    max-width: 1000px;
    margin: 50px auto;
}

.partnersTopList ul li {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--primaryFont);

}

.partnerOp h4 {
    max-width: 768px;
    text-align: center;
    font-weight: var(--primaryFont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--deepGreen);
    margin: 0px auto 50px;
}

.partnersOpBtm {
    margin-top: 15px;
    height: 150px;
    background-color: var(--footCyanMajor);
    padding: 25px 15px 15px;
    border-radius: 0px 0px 11px 11px;
    bottom: 0px;
    width: 100%;
}

.partnersOpBtm p {
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    color: var(--deepGray);
    margin-bottom: 20px;
    position: relative;
    z-index: 20;
    text-align: center;
}

.partnersBttm {
    background: var(--white);
    padding-top: 50px;
    padding-bottom: 50px;
}

.partnersBttm h2 {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--primaryFont);
    color: var(--deepOrange);
    max-width: 250px;
    margin: auto;
}

.partnersBttm ul li {
    position: relative;
    text-align: left;
    margin-bottom: 15px;
}

.partnersBttm ul li:nth-child(odd):before {
    content: " ";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--deepOrange);
    border-radius: 50%;
    margin-left: -25px;
    top: 6px;
}

.partnersBttm ul li:nth-child(even):before {
    content: " ";
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 7px solid transparent;
    border-right: 15px solid var(--deepGreen);
    border-bottom: 7px solid transparent;
    margin-left: -25px;
    top: 6px;
}

@media only screen and (min-width: 992px) {
    /*.misvisInn>div img {*/
    /*    max-width: 15% !important;*/
    /*}*/
}

@media only screen and (max-width: 991px) {

    .carImg:before {
        top: -50px;
        right: 0px;
    }
}

@media only screen and (min-width: 768px) {

    .coreValue {
        max-width: 250px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .misvisInn h6 {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .misvisInn>div {
        display: inline-block;
    }
}

@media only screen and (max-width: 767px) {
    .carImg {
        margin-top: 50px;
    }

    .topPage {
        padding-bottom: 0px;
    }

    .partnersBttm h2 {
        max-width: unset;
        margin-bottom: 50px;
    }

    .founder>div {
        min-height: unset !important;
    }

    .founder img {
        position: absolute;
        max-width: 290px;
        margin-left: 16%;
        top: -20%;
    }

    .founderCapt {
        max-width: 250px;
        top: -30%;
        margin-left: 30%;
    }

    .founder div>p {
        max-width: unset;
    }

    .founder>.founderInn:before {
        width: 30vw;
        margin-left: 14%;
        height: 450px;
    }



    .founder>.founderInn:after {
        width: 35%;
        margin-left: -20%;
        height: 400px;
    }

    .misvisInn>div img {
        margin-right: 15px;
    }
}

@media only screen and (max-width:575px) {

    .founder>.founderInn:before {
        width: 36%;
        margin-left: 18%;
        height: 450px;
    }

    .founderCapt {
        max-width: 250px;
        margin-left: 25%;
    }

    .founder>.founderInn:after {
        width: 46%;
        margin-left: -28%;
        height: 400px;
    }

    .founder img {
        margin-left: 14%;
    }

    .founderCapt {
        top: -27%;
    }

    .misvisInn>div {
        display: inline-block;
    }
}

@media only screen and (max-width:425px) {
    .founder>.founderInn:before {
        width: 50%;
        margin-left: 22%;
        height: 450px;
    }

    .founderCapt {
        max-width: 250px;
        top: -10%;
        margin-left: 20%;
    }

    .founder>.founderInn:after {
        width: 62%;
        margin-left: -30%;
        height: 400px;
    }
}
