.topPage {
    width: 100%;
    background-image: url('../../../static/imgs/whoweare.svg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -2;
    padding-bottom: 150px;
}

.banInn {
    min-height: 500px;
}

h2 {
    text-align: left;
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
}

.banInn h2 {
    color: var(--deepBlue);
}

.banInn p {
    text-align: left;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    letter-spacing: 0px;
    color: var(--deepGray);
    margin-bottom: 15px;
}

.banRightOut {
    position: relative;
}

.banRightOut:before {
    background-color: var(--beigeColor);
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 50%;
}

.banRight {
    position: relative;
    z-index: 2;
    height: 350px;
    max-width: 500px;
    margin: auto;
    z-index: 20;
    border-radius: 27px;
}

.misvis {
    min-height: 250px;
    padding-bottom: 50px;
}

.misvisCont {
    top: -150px;
}

.misvisInn {
    min-height: 300px;
    padding: 35px;
    border-radius: 6px;
}

.misvisL:first-child {
    background-color: var(--lighterPurple)
}

.misvisR:last-child {
    background-color: var(--beigeColor)
}

.misvisL h2 {
    color: var(--titleBlue);
}

.misvisR h2 {
    color: var(--deepOrange);
}

.misvisInn h6 {
    max-width: 450px;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 2.7rem;
    font-size: 1.7rem;
}

/* core styles */
.coreHeading h1 {
    color: var(--titleBlue);
    font-family: var(--secondaryFont);
    font-size: 3rem;
    font-weight: Bold;
    margin-bottom: 100px;
}

.coreOuter {
    padding-top: 50px;
    padding-bottom: 50px;
}

.coreValue h5 {
    min-height: 50px;
    margin-bottom: 20px;
    color: var(--colorBlue);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
}

.coreValue p {
    font-weight: 300;
    font-family: var(--primaryFont);
    font-size: 1rem;
    color: var(--deepGray)
}

/* ops section */
.opsOuter {
    background: rgba(167, 119, 94, 0.04);
    padding-top: 100px;
    padding-bottom: 100px;
}

.opsTitle {
    border-bottom: 4px solid var(--deepGreen);
    padding-bottom: 40px;
}

.opsTitle h3 {
    color: var(--deepGreen);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.5rem;

}

.opOuter {
    position: relative;
}

.opOuter div {
    max-width: 200px;
    min-height: 150px;
    border-radius: 11px;
    padding: 60px 15px 30px;
}

.iconsOp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--deepGreen);
    position: absolute;
    left: 40%;
}

.opOuter:nth-child(odd) .iconsOp {
    background-color: var(--deepGreen);
}

.opOuter:nth-child(even) .iconsOp {
    background-color: var(--footCyanMajor);
}

.opOuter:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    z-index: 20;
}

.opOuter:nth-child(odd)::before {
    left: 33%;
    border-top: 12px solid transparent;
    border-right: 24px solid var(--deepOrange);
    border-bottom: 12px solid transparent;
}

.opOuter:nth-child(even)::before {
    left: 48%;
    border-top: 12px solid transparent;
    border-left: 24px solid var(--midPurple);
    border-bottom: 12px solid transparent;
}

.opOuter:nth-child(odd) div {
    background-color: var(--lighterPurple)
}

.opOuter:nth-child(even) div {
    background-color: var(--beigeColor)
}

.opOuter h4 {
    height: 60px;
    max-width: 120px;
    color: var(--deepGreen);
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 1.1rem;
}

.underOps {
    min-height: unset !important;
    height: 4px !important;
    width: 80px !important;
    padding: 0 !important;
    background-color: var(--deepGreen) !important;
}

/* History page styles */
.historyBanOut {
    background-image: linear-gradient(to bottom, var(--footCyanMajor)50%, var(--white)50%);
}

.historyBan {
    min-height: 800px;
    background-image: url('../../../static/imgs/histbg.svg');
    background-size: 100% 70%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    padding-top: 130px;
}

.historyBan h2 {
    color: var(--titleBlue);
}

.historyBan h4 {
    position: relative;
    font: normal normal 900 24px Source Sans Pro;
    color: var(--deepGreen);
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.historyBan h4:before {
    left: 0px;
    top: 5px;
    content: " ";
    position: absolute;
    border-top: 9px solid transparent;
    border-right: 18px solid var(--deepOrange);
    border-bottom: 9px solid transparent;
}

.historyBan P {
    font-weight: normal;
    font-family: var(--primaryFont);
    font-size: 0.9rem;
    color: var(--deepGray);
    margin-bottom: 15px;
}

.histImg {
    position: relative;
    z-index: 10;
}

.histImg img {
    position: relative;
    z-index: 10;
}

.histImg:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    right: 30px;
    top: -20px;
    border-radius: 50%;
    background-color: var(--beigeColor);
    z-index: 1;
}

.founderCont {
    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--lightOrange)
}

.founderCont h2 {
    color: var(--deepOrange);
    text-align: center;
}

.founder>div {
    min-height: 300px;
}

.founder div:first-child {
    position: relative;
    text-align: center
}

.founder div>p {
    max-width: 300px;
    letter-spacing: 0px;
    font-family: var(--primaryFont);
    font-size: 0.9rem;
    color: var(--deepGray);
    margin-right: 20px;
}

.founder h6 {
    color: var(--lightPurple);
    font-weight: bold;
}

.founder img {
    display: inline-block;
    margin-left: 5%;
    position: relative;
    z-index: 50;
}

.founder div:first-child:before {
    content: " ";
    top: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 400px;
    background-color: var(--deepCyan);
    opacity: 0.34;
    position: absolute;
    border-radius: 6px;
    z-index: -1;
}

.founder div:first-child::after {
    content: " ";
    width: 72%;
    top: 20px;
    margin-left: -32%;
    height: 350px;
    background-color: var(--footCyanMajor);
    position: absolute;
    border-radius: 6px;
    z-index: 1;
}

.founderCapt {
    position: relative;
    z-index: 30;
    padding: 15px;
    max-width: 200px;
    text-align: left;
    margin-left: 20%;
}

.founderCapt h1 {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--deepGreen);
    margin-top: 8px;
}

.founderCapt h5 {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--primaryFont);
    color: var(--bBlack);
}

/* team styles */
.teamTop h2 {
    text-align: center;
    color: var(--titleBlue);
}

.teamTopPar {
    max-width: 700px;
    margin: auto;
}

.contributors h2 {
    text-align: center;
    color: var(--deepOrange);
}

.contributorsOut {
    background: #FBF9F8;
    padding-bottom: 100px;
}

@media only screen and (min-width: 768px) {

    .coreValue {
        max-width: 250px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .misvisInn h6 {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 767px) {
    .topPage {
        padding-bottom: 0px;
    }
}