/* slider styles */
.mySlides {
    min-height: 80vh;
}

.slideImages {
    display: inline-block;
    margin: 0 auto;
    min-width: 125%;
}

.footerStrip {
    height: 6px;
    width: 100%;
    background: -webkit-gradient(linear, to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: -webkit-linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: -moz-linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
    background: linear-gradient(to right, var(--deepOrange) 20%, var(--deepCyan) 20% 50%, var(--deepBlue) 50% 80%, var(--deepGreen) 80%);
}

.caption {
    max-width: 550px;
}

.caption h1 {
    font-family: var(--secondaryFont);
    font-weight: 900;
    color: var(--deepOrange);
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 0px 13px 26px #00000052;
}

.caption p {
    margin-top: 50px;
    color: var(--white);
    font-family: var(--primaryFont);
    font-Size: 1.6rem;
}

.indicators li {
    color: rgba(250, 205, 126);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 1rem;
    font-family: var(--secondaryFont);
}

.indicators>.active {
    color: rgba(250, 205, 126, 0.39);
}

/* Home video styles */
.vCont {
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.leftCont h2 {
    color: var(--titleBlue);
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}

.leftCont p {
    color: var(--midGray);
    max-width: 530px;
    text-align: left;
    font-family: var(--primaryFont);
    font-size: 1.3rem;
    line-height: 1.7;
    margin-bottom: 25px;
}

.rightCont {
    border-radius: 18px;
    background: var(--footCyanMajor);
    min-height: 420px;
}

.rightCont iframe {
    border-radius: 18px;
}

.rightCont video {
    border-radius: 18px;
}

.leftCont:before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -50px;
    background-color: var(--beigeColor);
}

.leftCont:after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 150px solid var(--lightPurple);
    border-bottom: 75px solid transparent;
    bottom: -20px;
    right: 250px;
}

/* Impact */
.impact {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(167, 119, 94, 0.04);
}

.impactCont {
    min-height: 400px;
}

.impactContIn {
    min-height: 200px;
}

.impactContIn h1 {
    margin-bottom: 50px;
    color: var(--deepOrange);
    font-size: 3rem;
    font-weight: Bold;
    font-family: var(--primaryFont);
}

.impactFig {
    color: inherit;
}

.imFigures {
    min-height: 220px;
    padding: 30px;
    position: relative;
    border-right: 1px solid var(--lightGreen);
}

.imFigures h3 {
    font-size: 4.5rem;
    font-weight: Bold;
    font-family: var(--primaryFont);
}

.imFigures p {
    font-size: 1.2rem;
    font-weight: Bold;
    font-family: var(--primaryFont);
}

.imFigures:nth-child(2) p {
    max-width: 140px;
}

.imFigures:first-child {
    color: var(--deepGreen);
}

.imFigures:nth-child(2) {
    color: var(--deepBlue);
}

.imFigures:nth-child(3) {
    color: var(--deepOrange);
}

.imFigures:last-child {
    border-right: 0;
    color: var(--colorBlue);
}

.imFigures:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.imFigures:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    width: 100px;
    height: 4px;
    top: 190px;
}

.imFigures:first-child::before {
    top: 70px;
    left: 10px;
    background-color: var(--footCyanMajor);
}

.imFigures:first-child::after {
    background-color: var(--deepGreen);
}

.imFigures:nth-child(2)::before {
    top: 0;
    left: 100px;
    background-color: var(--beigeColor);
}

.imFigures:nth-child(2)::after {
    background-color: var(--deepBlue);
}

.imFigures:nth-child(3)::before {
    bottom: 0;
    left: 70px;
    background-color: var(--lightPurple);
}

.imFigures:nth-child(3)::after {
    background-color: var(--deepOrange);
}

.imFigures:last-child::before {
    top: 0;
    left: 100px;
    background-color: var(--footCyanMajor);
}

.imFigures:last-child::after {
    background-color: var(--colorBlue);
}

/* partenrs */
.partners {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(167, 119, 94, 0.04);
}

.partnersS {
    background: var(--white);
}

.partnerCont {
    min-height: 400px;
}

.partnerLogo li {
    max-height: 100px;
}

.partnerLogo li img {
    max-height: 80px;
    display: inline-block;
    margin: 10px auto;
    max-width: 200px;
}

/* news */
.news {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--white);
}

.Headings h1 {
    margin-bottom: 50px;
    color: var(--deepBlue);
    font-size: 3rem;
    font-weight: Bold;
    font-family: var(--primaryFont);
}

.singleNews {
    padding: 35px;
}

.singleNewsIn h6 {
    width: 100%;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
    color: var(--midGray);
}

.singleNewsInn {
    width: 100%;
    min-height: 350px;
    padding: 30px;
    box-shadow: 0px 6px 8px #00000029;
    border-radius: 8px;
}

.singleCont {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 5rem;
}

.newsexcerpt h3 {
    font-family: var(--primaryFont);
    font-size: 1.5rem;
    font-weight: Bold;
    color: var(--deepGray);
}

.newsexcerpt p {
    font-family: var(--primaryFont);
    font-size: 1rem;
    color: #6C6C6C;
}

.newsexcerpt a,
.partnerCont a {
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: Bold;
    color: var(--deepGreen);
}

.newsexcerpt a:hover,
.partnerCont a:hover {
    color: var(--deepOrange);
}

.singleCont figure {
    right: -55px;
    top: 55px;
    max-width: 150px;
}

/* media Queries */

@media only screen and (max-width: 767px) {
    .slider {
        padding: 120px 50px;
        min-height: 1000px;
    }

    .slideImages {
        margin-top: 100px;
        width: 100%;
    }

    .caption h1 {
        font-size: 2rem;
    }

    .caption p {
        font-size: 1rem;
    }

    .indicators li {
        font-size: 0.7rem;
    }

}