.myHeader {
    min-width: 100vw;
    min-height: 80 px;
    padding: 0px;
}

.navi {
    min-width: 100vw;
}

.navBrand {
    width: 120px;
    padding: 20px;
    border-radius: 0px 0px 14px 0px;
}

.scroll {
    background-color: var(--white)
}

/* media queries */
@media only screen and (max-width: 767px) {
    .navBrand {
        width: 70px;
    }

    .navi {
        background-color: var(--white) !important;
    }
}