.myHeader {
    min-width: 100vw;
    min-height: 80 px;
    padding: 0px;
}

.navi {
    min-width: 100vw;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.sticky {
    min-width: 100vw;
}

.navBrand {
    width: 100px;
    padding: 20px 10px;
    border-radius: 0px 0px 14px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.logoInn {
    min-width: 70px;
    min-height: 90px;
    background-size: contain;
    background-image: url('../../static/imgs/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.scroll {
    background-color: var(--white);
}

.headermenu {
    margin-right: 120px;
    position: relative;
}

.menuConatiner {
    display: flex;
    justify-content: space-between;
}

/* mega menu */
.deskNavbar {
    overflow: hidden;
    max-width: 1100px;
    font-family: var(--primaryFont);
}

/* Links inside the navbar */
.deskNavbar a {
    float: left;
    font-size: 1.2rem;
    color: var(--colorBlue);
    text-align: center;
    padding: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.5s;
}

/* The dropdown container */
.deskDropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.deskDropdown .dropbtn {
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: var(--colorBlue);
    padding: 0px 16px;
    font-weight: 600;
    background-color: inherit;
    font-family: var(--primaryFont);
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.deskNavbar a:hover,
.deskDropdown:hover .dropbtn {
    color: var(--deepGreen);
}

/* Dropdown content (hidden by default) */
.dropdownContent {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 76px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -1;
    background: rgba(218, 255, 250, 0.96);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 200px;
}

/* Mega Menu header, if needed */
.menuHeads {
    float: unset;
}

.menuHeads li {
    /* float: left; */
    font-size: 1rem;
    color: var(--bBlack);
    text-align: center;
    font-weight: 600;
}

.megaOuterList {
    display: block;
}

.menuHeads li a {
    color: var(--bBlack);
}

.megaLinks {
    float: none;
    display: block !important;
}

/* Show the dropdown menu on hover */
.deskDropdown:hover .dropdownContent {
    display: block;
    min-height: 200px;
    transition: all ease-in 0.5ms;
}

.dropbtn:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdownContentInn>div>a {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
    text-align: left;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: var(--primaryFont);
    font-weight: 600;
    color: var(--bBlack);
}

.dropdownContentInn>div>a:first-child {
    color: var(--bBlack);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.dropdownContOne>div {
    display: relative;
    margin-left: 11%;
}

.dropdownContTwo>div {
    margin-left: 27%;
    max-width: 500px;
}

.dropdownContTwo>div>a {
    width: 220px;
}

.dropdownContTwo>div>a:first-child {
    width: 100%;
}

.dropdownContThree>div {
    width: 200px;
    margin-left: 44%;
}

.dropdownContFour>div {
    width: 200px;
    margin-left: 57%;
}

.dropdownContFive>div {
    width: 200px;
    margin-left: 77%;
}

.dropdownContentInn>div>a:hover {
    color: var(--deepGreen);
}

.menuBtns {
    max-width: 200px;
    padding: 15px;
}

.donBtn {
    background: var(--footOrange);
    color: var(--white);
    border: 2px solid var(--footOrange);
    transition: all ease 0.3s;
}

.donBtn:hover {
    background: var(--transparent);
    color: var(--footOrange);
    border: 2px solid var(--footOrange);
}

.donBtn a:hover {
    color: var(--footOrange);
}

.appHBtn {
    color: var(--deepGreen);
    border: 2px solid var(--deepGreen);
    transition: all ease 0.6s;
}

.appHBtn:hover {
    color: var(--white);
    border: 2px solid var(--deepGreen);
    background: var(--deepGreen);
}

.srcBtn button {
    font-weight: bold;
    color: var(--titleBlue);
    transition: all ease 0.6s;
}

.srcBtn button:hover {
    color: var(--footOrange);
}

.appHBtn a:hover {
    color: var(--white);
}

/* mobile menu */
.mobileNav h3 {
    color: var(--footOrange);
    font-family: var(--primaryFont);
    font-weight: 600;
    font-stretch: normal;
    font-size: 1rem;
    margin-bottom: 15px;
}

.mobileNav a:hover>h3 {
    color: var(--deepGreen);
}

.mobileNav p {
    color: var(--bBlack);
    font-family: var(--primaryFont);
    font-weight: 300;
    font-stretch: normal;
    font-size: 1rem;
    line-height: 2em;
}

.mobileNav ul li {

    color: var(--bBlack);
    font-family: var(--primaryFont);
    font-weight: 300;
    font-stretch: normal;
    font-size: 1rem;
    line-height: 2em;
}

.mobileNav ul li a:hover {
    color: var(--deepGreen);
}

.widefootMenu {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: auto auto;
}

/* media queries */

@media only screen and (max-width: 1165px) {
    .deskNavbar {
        display: none !important;
    }

    .menuBtns {
        max-width: 100%;
        padding: 15px 15px 15px 50px;
    }

    .menuConatiner {
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
        padding: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .navBrand {
        width: 70px;
    }

    .navi {
        background-color: var(--white) !important;
    }

    .logoInn {
        min-width: 50px;
        min-height: 50px;
        background-size: contain;
        background-image: url('../../static/imgs/logo.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}