.proTop h2 {
    color: var(--titleBlue);
}

.proTop p {
    color: var(midGray);
    max-width: 600px;
    font-size: 1.3rem;
}

.proConts>div {
    min-height: 840px;
    padding-top: 105px;
    padding-bottom: 50px;
}

.proConts>div:nth-child(even) {
    background: rgba(218, 255, 250, 0.36)
}

.proBtm>div {
    height: 500px;
}

.proBtm>div:first-child {
    background-color: var(--lighterPurple);
}

.proBtm>div:nth-child(2) {
    background-color: var(--beigeColor);
}

.proBtm>div:last-child {
    background-color: var(--footCyanMajor);
}

.proConts span {
    min-width: 100px;
    height: 79px;
}

.proConts h3 {
    color: var(--titleBlue);
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
}

.spacer {
    max-width: 300px;
    height: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--titleBlue);
}

.proContOut {
    display: grid;
    grid-template-columns: 80px auto;
}

.proNums {
    color: var(--footCyanMajor);
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    font-weight: 900;
    margin-right: 30px;
}

.proNumsTwo {
    color: var(--beigeColor);
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    font-weight: 900;
    margin-right: 30px;
}

.proNumsThree {
    color: var(--lighterPurple);
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    font-weight: 900;
    margin-right: 40px;
}

.proHead p {
    max-width: 600px;
    font-family: var(--primaryFont);
    font-size: 1rem;
}

.progs {
    padding: 50px 90px;
}

.progs>div {
    min-height: 400px;
    border-radius: 11px;
    position: relative;
    background-color: var(--beigeColor);
}

.progs>div:first-child {
    background-color: var(--beigeColor);
}

.progs>div:nth-child(2) {
    background-color: var(--footCyanMajor);
}

.progs>div:nth-child(3) {
    background-color: var(--lighterPurple);
}

.progs>div:nth-child(4) {
    background-color: var(--lightGreen);
}

.progsTop {
    padding: 25px 20px;
}

.progsTop h5 {
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 1rem;
    color: var(--bBlack);
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.progsTop P {
    color: var(midGray);
    font-family: var(--primaryFont);
    font-size: 1rem;
}

.progsBtm {
    min-height: 100px;
    width: 100%;
    border-radius: 11px;
    position: absolute;
    bottom: 0;
}

.progsBtm img {
    border-radius: 11px;
}

/* single Program */
.video figure {
    background-color: var(--footCyanMajor);
    padding: 15px;
    position: relative;
}

.video iframe {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 11px;
}

.sideBar h4 {
    margin-top: 30px;
    font-family: var(--primaryFont);
    color: var(--deepGreen);
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 40px;
}

/* Suppor Componennt styles */
.supportHeading h2 {
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--deepGreen);
    padding: 10px;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--white);
}

/* .supportOut {
    border-top: thin solid var(--deepGreen);
} */

.supportCont {
    position: relative;
    max-width: 900px;
    margin: 30px auto;
}

.supportCont img {
    border-radius: 12px;
}

.programContInn {
    min-height: 1200px;
}

/* impact */
.impact {
    font-family: var(--primaryFont);
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0px;
    margin-bottom: 25px;
    color: var(--deepOrange);
    margin-bottom: 46px;
}

.impactCont {
    padding-bottom: 150px;
}

.impactCont>div {
    min-height: 300px;
    padding: 15px;
}

/* apply */
.appCont {
    min-height: 600px;
    padding-bottom: 50px;
}

.appCont>div {
    min-height: 300px;
    border-radius: 11px;
    background-color: var(--lightGray)
}

.appCont>div:nth-child(odd) .headingIcons {
    position: relative;
}

.appCont>div .headingIcons:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 24px solid var(--midPurple);
    border-bottom: 12px solid transparent;
    left: 30px;
    top: 15px;
    z-index: 2;
}

.appCont>div .headingIcons:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 15px;
    top: 30px;
    background-color: var(--deepCyan);
    z-index: 1;
}

.applyOut>div:last-child {
    padding: 20px 15px;
}

.applyInn h3 {
    font: normal normal bold 26px var(--primaryFont);
    letter-spacing: 0px;
    color: var(--deepGray);
    max-width: 300px;
}

.applyInn h4 {
    margin-top: 15px;
    font: normal normal normal 1rem var(--primaryFont);
    letter-spacing: 0px;
    color: var(--lighterGray);
}

.dateUnder {
    max-width: 70px;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: var(--lighterGray)
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .programContInn {
        min-height: 1000px;
    }
}

@media only screen and (min-width: 768px) {
    .programContInn {
        position: absolute;
        margin-top: -170px;
    }

    .proConts>div:first-child {
        padding-top: 0px;

    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .programContInn {
        min-height: 1000px;
        margin-top: -130px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .programContInn {
        min-height: 1200px;
        margin-top: -130px;
    }
}

@media only screen and (max-width:767px) {
    .proConts>div {
        padding-top: 50px;
    }
}